.navbar-brand h3{
	background: #9AFF8E;
}

.navbar-brand >img {
   max-height: 100%;
    width: auto;
}
.page-header{
	float: left;
	width: 100%;
	background-color: #c3d7df;
}
.list-inline{
	list-style-type: none;
	text-align: center;
}
.list-inline i{
	font-size: 30px;
	margin:20%;
	padding: 15% 5% 5% 4%;
}
